<h2> Add a New Word to the Repository</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word">New Word</label>
    <input id="word" name="word" required class="form-control" type="text">
  </div>
  <button type='submit' class='btn'>Submit</button>
</form><br>

<a href= '/words'>Back to Main Page</a>